[MAIN]
init-hook="import sys; sys.path.append('./src')"

[BASIC]

good-names=i,
          j,
          df

[MESSAGES CONTROL]

disable=bad-inline-option,
        broad-except,
        deprecated-pragma,
        file-ignored,
        fixme,
        import-error,
        locally-disabled,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        raw-checker-failed,
        relative-beyond-top-level,
        suppressed-message,
        too-few-public-methods,
        unspecified-encoding,
        useless-suppression,
        use-symbolic-message-instead
        
        
        

