[MAIN]
init-hook="import sys; sys.path.append('./src')"

[BASIC]

good-names=i,
          j,
          df

[MESSAGES CONTROL]

disable=raw-checker-failed,
        broad-except,
        bad-inline-option,
        import-error,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        relative-beyond-top-level,
        too-few-public-methods,
        unspecified-encoding

