[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=1.5"
openpyxl = "~=3.0"
pyserde = "~=0.9"
tomli-w = "*"
xlsxwriter = "~=3.0"
pillow = "~=9.4"
fastparquet = "*"

[dev-packages]
pylint = "~=2.15"
mypy = "~=0.991"
black = "~=22.12"
pytest = "*"
auto-py-to-exe = "~=2.26"

[requires]
python_version = "3.10"
